---
layout: default
brand: index-page
title: Use the power of react native to easily give life to your future mobile projects.
meta_title: Build better apps using react native @ galio
description: Galio is a beautifully designed, Free and Open Source React Native Framework.
canonical: https://galio.io
keywords: galio, mobile framework, android react native, ios react native, free mobile framework, react native, free react native, open source react native, mit license, mobile app, react native, react native app, react native android, react native github, react native ios, react native ui, react native documentation, react native facebook, facebook react native, react native framework, react native themes, react native showcase, react native dropdown, react native radio button, react native progress bar, react native search bar, react android, react native examples, react native forms, react native application, react native code, react native js, about galio, galio presentation, galio components, galio application, galio radio button, galio progress bar, galio search bar
---

{% include sections/header.html %}
{% include sections/informations.html %}
{% include sections/who.html %}
{% include sections/technologies.html %}
{% include sections/products.html %}
{% include sections/categories.html %}
{% include sections/startup.html %}
{% include sections/community.html %}
{% include sections/subscribe.html %}
{% include sections/expo.html %}
