<div class="section section-apps">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-product">
            <div class="image">
                <a href="https://www.creative-tim.com/product/material-kit-react-native?ref=galioapppage">
                    <img src="assets/img/material-kit.jpg" alt="...">
                </a>
            </div>
            <div class="content">
                <a href="https://www.creative-tim.com/product/material-kit-react-native?ref=galioapppage">
                    <h4 class="title">Material Kit React Native
                        <!-- <div class="pull-right"> FREE </div> -->
                    </h4>
                </a>
                <p class="description">
                  Material Kit React Native is a fully coded app template built over
                  <a href="https://galio.io/" target="_blank">Galio.io</a>,
                  <a href="https://facebook.github.io/react-native/" target="_blank">React Native
                  </a> and <a href="https://expo.io/" target="_blank">Expo</a>
                  to allow you to create powerful and beautiful mobile applications.
                </p>
                <div class="footer">
                  <a href="https://github.com/creativetimofficial/material-kit-react-native" target="_blank" class="btn btn-fill"><i class="fa fa-github"></i>&nbsp;GITHUB</a>
                  <a href="https://www.creative-tim.com/product/material-kit-react-native?ref=galioapppage" target="_blank" class="btn btn-fill"><i class="fa fa-mobile"></i>VIEW APP</a>

                </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-product">
            <div class="image">
                <a href="https://github.com/galio-org/galio/tree/examples">
                    <img src="assets/img/galio.jpg" alt="...">
                </a>
            </div>
            <div class="content">
                <a href="#">
                    <h4 class="title">Galio Examples React Native
                      <!-- <div class="pull-right"> FREE </div> -->
                    </h4>

                </a>
                <p class="description">
                  Galio's application for showcasing our components and different contexts in which it can be used.
                </p>
                <div class="footer">
                  <a href="https://github.com/galio-org/galio/tree/examples" target="_blank" class="btn btn-fill"><i class="fa fa-github"></i>&nbsp;GITHUB</a>

                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-product">
            <div class="image">
                <a href="https://github.com/SintionVlad/social-App">
                    <img src="assets/img/profile.jpg" alt="...">
                </a>
            </div>
            <div class="content">
                <a href="https://github.com/SintionVlad/social-App">
                    <h4 class="title">Social App React Native
                        <!-- <div class="pull-right"> FREE </div> -->
                    </h4>
                </a>
                <p class="description">
                  Basic template app for a social platform.
                </p>
                <div class="footer">
                  <a href="https://github.com/SintionVlad/social-App" target="_blank" class="btn btn-fill"><i class="fa fa-github"></i>&nbsp;GITHUB</a>

                </div>
            </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="card card-product">
            <div class="image">
                <a href="#">
                    <img src="assets/img/argon.jpg" alt="...">
                </a>
            </div>
            <div class="content">
                <a href="#">
                    <h4 class="title">Argon Design System React Native
                      <div class="pull-right"> FREE </div>
                    </h4>

                </a>
                <p class="description">
                  Argon Design System React Native is a fully coded app template built over
                  <a href="https://galio.io/" target="_blank">Galio.io</a>,
                  <a href="https://facebook.github.io/react-native/" target="_blank">React Native
                  </a> and <a href="https://expo.io/" target="_blank">Expo</a>
                  to allow you to create powerful and beautiful mobile applications.
                </p>
                <div class="footer">
                  <a href="https://galio.io/" target="_blank" class="btn btn-fill"><i class="fa fa-github"></i>&nbsp;GITHUB</a>
                  <a href="https://galio.io/" target="_blank" class="btn btn-fill"><i class="fa fa-mobile"></i>VIEW APP</a>

                </div>
            </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
