<div class="section section-apps">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% include sections/aps-examples/material-kit-react-native.html %}
      </div>
      <div class="col-md-6">
        {% include sections/aps-examples/galio-examples-react-native.html %}

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {% include sections/aps-examples/social-app-react-native.html %}

      </div>
      <div class="col-md-6">
        {% include sections/aps-examples/argon-react-native.html %}

      </div>
    </div>
  </div>
  <div class="text-center mail">
    <a href="mailto:hello@galio.io" class="btn">Send project</a>
  </div>
</div>
