<div class="section section-categories">
  <div class="container">
  </div>
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
  <style type="text/css">
  .st0{fill:#080C0F;stroke:#080c0f;stroke-miterlimit:10;}
  </style>
  <path class="st0" d="M-0.5,0.5c455.3,182,910.7,364,1366,546c0-182,0-364,0-546H-0.5z"/>
</svg>

<img src="img/category_screen.png">
<div class="text-left">
  11 screens <br><span>+ more soon</span>
</div>
<div class="text-right">
  60+ <br><span>elements</span>
</div>
</div>
