
<div class="section section-community">
  <div class="container">
    <div class="row">

      <div class="col-md-10 mx-auto text-center">
        <h2 class="title"> Become a part of the Galio community. </h2>
      </div>

      <div class="col-md-4">
          <div class="info">
            <a href="https://twitter.com/galioframework" target="_blank">

            <div class="icon icon-rose">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="description">
                <h4> Twitter </h4>
                <p>Follow us on Twitter and be the first to receive news and updates. We are open for your feedback and questions.</p>
            </div>
          </a>
         </div>

      </div>

      <div class="col-md-4">
        <div class="info">
          <a href="https://github.com/galio-org/galio" target="_blank">
            <div class="icon icon-rose">
                <i class="fa fa-github"></i>
            </div>
            <div class="description">
                <h4> Contribute on GitHub </h4>
                <p>You want to take part in the development? Fork Galio on GitHub and send us a pull request. To report a bug, file a new issue.</p>
            </div>
          </a>
       </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <a href="https://discordapp.com/invite/WCrRMr7" target="_blank">
            <div class="icon icon-rose">
                <i class="fa fa-comments"></i>
            </div>
            <div class="description">
                <h4> Galio Community </h4>
                <p>If you're interested in discussing, participating and helping each other, the Galio community is the place to be.</p>
            </div>
          </a>
       </div>
      </div>
    </div>
    <h4 class="description text-center" style="margin-bottom:50px;">
      This project exists thanks to all the people who contribute.
    </h4>
    <div class="w-100 text-center" style="margin-bottom:50px;">
      <a href="https://github.com/galio-org/galio/graphs/contributors" class="text-center" style="margin-left:10%;" target="_blank">
        <img src="https://camo.githubusercontent.com/8631a4ad9878b656d57280075a5b452c656abfc7/68747470733a2f2f6f70656e636f6c6c6563746976652e636f6d2f67616c696f2f636f6e7472696275746f72732e7376673f77696474683d38393026627574746f6e3d66616c7365" data-canonical-src="https://opencollective.com/galio/contributors.svg?width=890&amp;button=false" style="max-width:100%;">
      </a>
    </div>
  </div>
</div>
