<div class="section section-expo">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <h2 class="title">Preview on Expo.io</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="info">
          <div class="description text-left">
            <h4 class="info-title">Scan to open</h4>
            <div class="row">
              <div class="col-md-7">
                <p class="desc">
                  With an Android phone, you can scan the above QR code with your Expo mobile
                  app to load this project immediately.
                </p>
                <p class="desc">
                  Typing @galio-framework/galio-native-kit inside of Expo Client
                  will also open this project.
                </p>
              </div>
              <div class="col-md-5">
                <div class="white">
                  <img src="img/QR_expo.png" class="img-expo" style="width:100%; padding:10px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="info">
          <div class="description text-left">
            <h4 class="info-title">Download Expo Client</h4>
            <p class="desc">
              Use our app to directly view
              Expo projects on your phone
            </p>
            <div class="row">

              <div class="col-lg-6 col-xs-12">
                <a href="https://play.google.com/store/apps/details?id=host.exp.exponent&hl=en" class="btn btn-rose btn-round" target="_blank">Android App<i class="fa fa-android"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="img/expo-logo.png">
</div>
