<div class="space-50"></div>
<div class="section section-hacktoberfest">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="img/hacktoberfest.png">
      </div>
      <div class="col-md-9">
        <h2 class="title">Contribute and earn your free T-shirt!</h2>
        <h4 class="desc">
          We are an open source community and we have a lot of things going on. <br>
          Everyone is welcome to join us, contribute to {{ site.name }} and earn your free T-shirt.
        </h4>
        <a href="{{ site.github_url }}" class="btn btn-round">Earn your T-shirt</a>
      </div>
      <img src="img/dots1.png" class="img-top">
      <img src="img/dots2.png" class="img-bottom">
    </div>
  </div>
</div>
<div class="space-50"></div>
