<div class="section section-header">
  <div class="container">
    <div class="col-md-6 mx-auto text-center">
      {% if page.brand == 'index-page' %}
      <img src="assets/img/logo.png">
      {% endif %}
      <h1 class="title">
        {% if page.brand == 'index-page' %}
        Galio
        {% elsif page.brand == 'apps-page' %}
        Made with Galio
        {% endif %}
      </h1>
      <h3 class="desc {% if page.brand == 'index-page' %} h4 {% endif %}">
        {{ page.title }}
      </h3>
      <div class="buttons">
        <a href="https://github.com/galio-org/galio" target="_blank" class="btn btn-default btn-sm mb-2">
          Github
        </a>
        <a href="https://galio.io/docs/#/install" target="_blank" class="btn btn-default btn-sm mb-2">
          Documentation
        </a>
        <a href="https://github.com/galio-org/galio/releases" target="_blank" class="btn btn-default btn-sm mb-2">
          Releases
        </a>

      </div>

      <br>
      <div class="github-buttons">
        <a class="github-button" href="{{ site.github_url }}" data-icon="octicon-star" data-show-count="true" aria-label="Star galio-org/galio on GitHub">Star</a>
        <a class="github-button" href="{{ site.github_url }}/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork galio-org/galio on GitHub">Fork</a>
        <a class="twitter-follow-button"
          href="https://twitter.com/galioframework" data-show-count="true" data-show-screen-name="false" target="_blank">
        Follow</a>
        <div class="fb-like d-block" data-href="https://www.facebook.com/GalioFramework/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
    </div>

  </div>

</div>
