<div class="section section-informations">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="info">

          <div class="description">
              <h4> <i class="fa fa-download"></i> Installation </h4>
              <p class="text-muted">
                Just add it as an npm/yarn dependency:
              </p>
              <p>
                <code>npm install galio-framework</code>
                <br><br>
                or
                <br><br>
                <code>yarn add galio-framework</code>
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">

          <div class="description">
              <h4> <i class="fa fa-wrench"></i> Usage </h4>
              <p class="text-muted">
                Import the component you want in your application:
              </p>
              <p>
                <code>import { Text } from 'galio-framework'</code>
                <br><br>
                <code class="lang-js">
                  <span class="token function">render</span>
                  <span class="token punctuation">()</span>
                  <span class="token punctuation">{</span>
                    <br>
                  <span class="token keyword">return</span>
                  <span class="token punctuation">(</span>
                  <br>
                  <span class="token operator" style="margin-left:32px; margin-right: -8px;">&lt;</span>
                  View
                  <span class="token operator" style="margin-left:-8px;">&gt;</span>
                  <br>
                  <span class="token operator" style="margin-left:55px; margin-right: -8px;">&lt;</span>
                  Text p muted
                  <span class="token operator" style="margin-left:-8px; margin-right:-8px;">&gt;</span>
                  Hi<span class="token punctuation">,</span>
                  <span class="token constant">I</span>'m a Galio component
                  <span class="token operator" style="margin-left:-8px; margin-right: -8px;">&lt;</span>
                  <span class="token operator" style="margin-right:-8px;">/</span>
                  Text<span class="token operator">&gt;</span>
                  <br>
                  <span class="token operator" style="margin-left:32px; margin-right:-8px;">&lt;</span>
                  <span class="token operator" style="margin-right:-8px;">/</span>
                  View
                  <span class="token operator" style="margin-left:-8px;">&gt;</span>
                  <br>
                 <span class="token punctuation" style="margin-left:22px;">)</span>
                 <span class="token punctuation" style="margin-left:-10px;">;</span>
                 <br>
                 <span class="token punctuation">}</span>
               </code>
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">

          <div class="description">

              <h4> <i class="fa fa-book"></i> Presentation </h4>

                <p class="text-muted">
                  Find out more about Galio in our presentation page.
                </p>
              <a href="presentation.html">
                <img src="assets/img/presentation.png">
              </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
