<div class="section section-apps">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% include sections/premium-themes/material-kit-pro-react-native.html %}
      </div>
      <div class="col-md-6">
        {% include sections/premium-themes/argon-pro-react-native.html %}

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {% include sections/premium-themes/now-ui-pro-react-native.html %}

      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
  <div class="text-center mail">
    <a href="mailto:hello@galio.io" class="btn">Send project</a>
  </div>
</div>
