<div class="section section-products">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">A selection of interfaces built with {{ site.name }}</h2>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="shadow">
          <img src="img/screen1.png">
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="shadow">
          <img src="img/screen2.png">
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="shadow">
          <img src="img/screen3.png">
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="shadow">
          <img src="img/screen4.png">
        </div>
      </div>
    </div>
  </div>
</div>
