<div class="section section-road">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h2 class="title">Road Map</h2>
        <h4 class="desc">
          We have great plans and a long road ahead of us. Our goal is to develop a flexible, fully customisable mobile framework based on React Native.
        </h4>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="step">
          <h4 class="title">Q3 2018</h4>
          <div class="line"></div>
          <ul class="list-group">
            <li class="list-group-item"> <span>Research</span> React Native limitations & possibilities.</li>
            <li class="list-group-item"><span>Research</span> how apps are developed so we can ease the process by unifying or simplyfing different processes.</li>
            <li class="list-group-item"><span>Building</span> first version of a design system intended to be used as a base to start from, for any future project.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="step">
          <h4 class="title">Q4 2018</h4>
          <div class="line"></div>
          <ul class="list-group">
            <li class="list-group-item"> <span>Launch</span> first version of {{ site.name }} framework.</li>
            <li class="list-group-item"><span>Building</span> a community and listen to their needs and pain points.</li>
            <li class="list-group-item"><span>Update</span> &amp; Improve {{ site.name }} v1 framework based on community feedback.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="step">
          <h4 class="title">Q1 2019</h4>
          <div class="line disabled"></div>
          <ul class="list-group">
            <li class="list-group-item"> <span>Build</span> a library for transitions and animations.</li>
            <li class="list-group-item"><span>Build</span> more "ready to use" screens based on {{ site.name }} framework.</li>
            <li class="list-group-item"> <span>Organize</span> meetups and a live AMA on social to interact with the community.</li>
            <li class="list-group-item"> <span>Launch</span> {{ site.name }} v2.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="step">
          <h4 class="title">Q2 2019</h4>
          <div class="line disabled"></div>
          <ul class="list-group">
            <li class="list-group-item"> <span>Once</span> {{ site.name }} becomes stable and have a few modules, we can develop a dedicated marketplace for the community.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
