<div class="section section-subscribe">
  <div class="container">
    <div class="row">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://galio.us20.list-manage.com/subscribe/post?u=e1437303897bec84c0ce8e20c&amp;id=5c57ee8178" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <div class="col-sm-7">
              <label for="mce-EMAIL"><h4 class="text-white">Join our newsletter and receive news!</h4></label>
            </div>
            <div class="col-sm-3">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e1437303897bec84c0ce8e20c_5c57ee8178" tabindex="-1" value=""></div>
              <div class="col-sm-2">
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-rose btn-round">
                </div>
              </div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->

    </div>
  </div>
</div>
