<div class="section section-technologies">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-left">
        <h2 class="title">Built as a framework from the ground up.</h2>
        <h4 class="desc">
          Creating your mobile app from scratch with dedicated designers and developers can be very expensive. Using {{ site.name }} you get everything you need to start creating your fully functional mobile app in just minutes.
        </h4>
      </div>
      <img src="img/img-framework.png">
    </div>
  </div>
</div>
