<div class="section section-who">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h2 class="title">How much money do you need<br> to build a mobile app?</h2>
        <h4 class="desc">
          As much as we would like to give an accurate cost of app development, we can only
          come up with an estimate, simply because each app development process involves many
          factors that collectively influence the final cost.
        </h4>
      </div>
      <img src="img/how-much.png">
    </div>
  </div>
</div>
