

.btn{
  white-space: nowrap;
  display: inline-block;
  line-height: 48px;
  height: 50px;
  padding: 0px 60px;

  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  border-color: #6772e5;
  color: #6772e5;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  &.btn-simple{


    padding: 0;
    color: inherit;
    &:hover,
    &:active,
    &:focus,
    &:active:focus{
      box-shadow: none;
    }
  }

  &.btn-default{
    border:1px solid #a0a0a0;
    color: #a0a0a0;
    box-shadow: none;
    opacity: 1;
    &:hover,
    &:active,
    &:focus,
    &:active:focus{
      border:1px solid #a0a0a0;
      color: #a0a0a0 !important;
      box-shadow: none;
    }
  }

  &.btn-sm{
    padding: 0 30px;
    height: 35px;
    line-height: 35px;
  }
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus{
  border-color: #6772e5;
  color: #6772e5;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.btn-social{
  border-radius: 50%;
  padding: 6px 9px !important;
  margin-right: 20px;
  box-shadow: none;
  color: #ff006e !important;
  border-color: #ff006e;
  height: 40px;
}

.btn-social:hover,
.btn-social:active,
.btn-social:focus,
.btn-social:hover:active{
  border-color: #ff006e;
}

.btn-social .fa{
  margin-top: -26px;
  margin-left: 0px;
  font-size: 18px;
}

.title{
  line-height: 1.33;
  font-weight: 300;
  letter-spacing: -.5px;
  color: #223464;
  margin-bottom: 5px;
}

.desc{
  margin-bottom: 50px;
  margin-top: 12px;
  font-weight: 300;
  color: #5d648e;
  line-height: 1.7;
}

a[rel="tooltip"]{
  display: block;
}

.section-header .card-featured-content{
  margin-top: 100px;
  text-align: center;
}

.section-header .card-featured-content img{
  width: 100px;
  margin: 0px 60px 20px 0px;
  position: relative;
}

.section-header .card-featured-content a:last-child img{
  margin-right: 0;
}

.section-header .btn-rose{
  margin-bottom: 20px;
  margin-top: 60px;
}

.section-header .desc{
  margin-bottom: 10px;
}
.section-road img{
  margin-bottom: 30px;
}

.section-categories{
  background-color: #080C0F;
  color: #fff;
  margin-bottom: 650px;
  margin-top: -195px;
  height: 200px;
}

.section-categories .list-group .list-group-item:hover{
  background: transparent;
}

.section-categories svg{
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -1px;
}

.section-categories .title{
  color: #fff;
}

.section-categories .tag{
  text-transform: uppercase;
  font-weight: 300;
}

.section-categories img{
  position: absolute !important;
  z-index: 2;
  max-width: 500px;
  width: 40%;
  top: 106%;
  left: 50%;
  transform: translate(-50%);

}

.section-categories .container{
  margin-top: 20px;
}

.section-categories .text-left,
.section-categories .text-right{
  position: absolute;
  font-size: 55px;
  width: 25%;
  line-height: 1;
  font-weight: 100;
}

.section-categories .text-left span,
.section-categories .text-right span{
  font-size: 40px;
}

.section-categories .text-left{
  top: 190%;
  left: 10%;
  color: #080c0f;
}

.section-categories .text-right{
  right: 10%;
  top: 190%;
}

.card-featured-content img.small{
  max-width: 100px;
}

.icon{
    background: transparent;
}

.card .info{
  padding: 40px 0 40px;
}

.icon.icon-default i{
  color: #888888;
}

.info .description .btn{
  margin-top: 15px;
}

.info .icon{
    transition: transform .4s, box-shadow .4s;
}
.info .desc{
  margin-bottom: 15px;
}

.info .info-title{
  margin: 25px 0 15px;
  font-size: 22px;
  letter-spacing: -.5px;
  color: #223464;
}

.info .description{
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 15px;
}
.section-subscribe, #mc_embed_signup form{
  background: #131c21;
}

// mailchimp

#mc_embed_signup input.email{
  width: 100% !important;
}

#mc_embed_signup label{
  -webkit-font-smoothing: antialiased;
  font-family: 'Averta','Helvetica Neue','Open Sans',Arial,sans-serif;
  font-weight: 300 !important;
  padding-bottom: 0 !important;

}
#mc_embed_signup input {
    border: 1px solid #131c21 !important;
    -webkit-appearance: none;
}

#mc_embed_signup label h4{
  margin-top: 5px;
}

.section-subscribe{
  padding: 0;
}

.section-subscribe .btn{
  padding: 0 25px;
  height: 40px;
  margin-top: 0 !important;
  line-height: 30px;
  border-color: #eb3971 !important;
}

.section-subscribe .container{
  border-bottom: 1px solid rgba(123,123,124,0.6);
  padding: 25px 0;
}
.section-apps .mail{
  margin: 50px 0;
  a{
    margin-bottom: 0;
  }
}
.section-apps .card{
  min-height: 600px;
}

.section-apps .card .content{
  padding: 25px 25px 0;
}
.section-apps .card .footer .btn{
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
}

.section-apps .card .footer .btn i{
  margin-left: 0;
}

.section-apps .card .title{
  margin-bottom: 10px;
}


.section-expo{
  background: linear-gradient(to bottom, #141d22 0%, #0a0b0d 100%);
  overflow: hidden;
}

.section-expo .title{
  color: #fff;
}

.section-expo .desc{
  color: #9c9c9c;
}
.section-expo .info-title{
  color: #fff;
}

.section-expo .form-control,
.section-expo .form-control:focus
{
  color: #fff;
  background: #212831;
  border-radius: 2px;
  border-color: rgba(255,255,255,0.1);
}

.section-expo img{
  position: absolute !important;
  top: 0;
  width: 32%;
  left: 50%;
  transform: translate(-50%);
}

.section-expo .btn{
  padding: 0 25px;
}

.section-expo .img-expo{
  width: 15%;
  position:relative;
  z-index:2;

}

.section-expo .white{
  background: white;
    height: 170px;
    width: 170px;
    position: relative;
}

.section-who img{
  width: 100%;
}

.section-hacktoberfest{
  background: #552940;
  padding-bottom: 60px;
}

.section-hacktoberfest .desc,
.section-hacktoberfest .title{
  color: #fff;
}

.section-hacktoberfest .btn{
  background: #00fffe;
  border-color: #00fffe;
  color: #000;
  opacity: 1;
}

.section-hacktoberfest img{
  width: 100%;
}

.section-hacktoberfest .img-bottom{
  width: 14%;
  position: absolute;
  right: 5%;
  bottom: -28%;
}

.section-hacktoberfest .img-top{
  position: absolute;
  width: 25%;
  left: 5%;
  top: -55px;
}

.section-hacktoberfest .desc{
  margin-bottom: 15px;
  margin-top: 25px;
}

.section-startup .btn{
  padding: 0 40px;
}

.section-startup{
  background: transparent;
}

.section-startup .info{
  text-align: left;
}
.info .icon.icon-circle {
  max-width: 80px;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 9px 35px -6px rgba(0, 0, 0, 0.3);
  font-size: 0.7142em;
  background-color: #FFFFFF;
  position: relative;
}

.info .icon.icon-success.icon-circle{
  box-shadow: 0px 9px 30px -6px rgba(24, 206, 15, 0.3);
}

.info .icon.icon-info.icon-circle{
  box-shadow: 0px 9px 30px -6px rgba(44, 168, 255, 0.3);
}

.info .icon.icon-primary.icon-circle {
  background: linear-gradient(to bottom right, #fad470 0%, #f96933 100%);
}

.info.info-hover:hover .icon.icon-success.icon-circle {
    box-shadow: 0px 15px 35px 0px rgba(24, 206, 15, 0.35);
}

.info.info-hover:hover .icon.icon-info.icon-circle {
    box-shadow: 0px 15px 35px 0px rgba(44, 168, 255, 0.35);
}

.info.info-hover:hover .icon.icon-primary.icon-circle {
      box-shadow: 0px 15px 35px 0px rgba(249, 99, 50, 0.35);
}

.info.info-hover:hover .icon.icon-success + .info-title {
  color: #18ce0f;
}

.info.info-hover:hover .icon.icon-info + .info-title {
  color: #29aaf9;
}

.info.info-hover:hover .icon.icon-primary + .info-title {
  color: #fc5f3c;
}

.section .row{
  position: relative;
}
.section-do .row img{
  width: 100%;
}
.section-do .info{
  text-align: center;
  margin-top: 60px;
}
.section-technologies .row img{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

}
.section-header{
  padding-top: 100px;
  background: url("../../../img/header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.section-header .title{
  margin-top: 150px;
  color: #232241;
}
.section-header .desc{
  color: #232241;
}

.section-header img{
  position: absolute;
  width: 35%;
}

.section-header img.phone1{
  right: 33%;
  width: 110%;
  margin-top: 100px;
  z-index: 2;
}

.section-header img.phone2{
  width: 60%;
  right: -15px;
  margin-top: -35px;
}

.section-products{
  overflow: hidden;
  padding-bottom: 120px;
  margin-top:100px;
}

.section-products img{
  width: 100%;
}

.shadow{
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.red-shadow{
  border-radius: 10px;
}
.image-container{
  position: relative;
}
.image-container img{

}

.icon{
  margin: 10px;
  margin-top: 6px;
  border-radius: 50%;
  text-align: center;
}

.icon-danger{
  background: linear-gradient(to bottom right, #fc5f3c 0%, #ff55d3 100%);
}

.icon-info{
  background: linear-gradient(to bottom right, #32d6fb 0%, #5558ed 100%);
}

.icon-success{
  background: linear-gradient(to bottom right, #1cf196 0%, #36a6bf 100%);
}

.icon-warning{
  background: linear-gradient(to bottom right, #fad470 0%, #f96933 100%);
}
.icon{
  padding: 0;
}
.icon i{
  font-size: 26px;
  color: white;
  text-align: center;
  width: auto;
  height: auto;
  line-height: 64px;
}
.icon-lg{
  height: 76px;
  width: 76px;
}
.icon-lg i{
  line-height: 76px;
}

.section-hackathons img{
  width: 100%;
  box-shadow: 0 8px 12px 0 rgba(14, 36, 129, 0.08);
  margin-bottom: 10px;
}
.section-road{
  padding-top: 50px;
  background: url("../img/map.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.section-road h3{
  color: white;
  font-family: 'Averta';
  font-size: 26px;
  margin-bottom: 30px;
}
.section-road .item{
  margin-bottom: 30px;
}
.section-road .item:after{
  display: block;
  content: " ";
  position: relative;
  clear: both;
}

.section-road .item .photo{
  height: auto;
  width: 140px;
  float: left;
  margin-right: 15px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}

.section-road .item .photo img{
  width: 100%;
  border-radius: 4px;
  margin: -3px 0 0 0;
}

.section-road .item .info{
  margin: 0;
  max-width: 180px;
  display: table;
  padding-top: 15px;
}

.section-road .item .info .title{
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
}
.section-road img{
  max-width: 100%;
}
.section-road .item .info .text{
  font-size: 14px;
  color: #b9b9b9;
  line-height: 21px;
}
.section-road .step{
  padding: 0 10px;
  height: 420px;
}

.section-road .step .line{
  position: relative;
  height: 20px;
  border-radius: 5px;
  background: #ff1270;
  margin: 15px 0;
}

.section-road .step .line.disabled{
  background: #fe98bb;
}

.section-road .step .line.arrow::after{
  content: "";
  position: absolute;
  border-left: 50px solid #72193a;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  left: 95%;
  top: 50%;
  transform: translate(0,-50%);
}

.section-road .step .row .list-group{
  margin: 0;
}
.section-road .list-group{
  color: #fff;
}

.section-road .list-group .list-group-item{
  font-weight: 300;
  color: #23355f;
}
.section-road .list-group .list-group-item:before{
  content: "";
  position: absolute;
  height: 3px;
  width: 3px;
  background: #23355f;
  border-radius: 50%;
  top: 24px;
}

.section-road .list-group .list-group-item span{
  margin-left: 10px;
}


.section-road .list-group .list-group-item:hover{
  background: transparent;
}


.section-road .list-group .list-group-item:first-child{
  border-bottom: none;
}

.section-road .step .title{
  font-weight: 400;
  margin-top: 0;
}

.section-do{
  background: white;
}

.section-do .card{
  box-shadow: none;
}

.section-do .info img{
  width: 30%;
}

.section-do .card .icon i{
  color: #fd5f3c;
  width: 60px;
  font-size: 60px;
}


.footer{
  padding: 20px 0 15px;
  margin-top: -2px;
  .buttons{
    margin-top: 0;
  }
}

.footer.footer-black{
  background: #080c0f;
}

.footer-black .copyright a{
  color: #FFF;
}

.footer p{
  display: inline;
  font-size: 14px;
}

.footer p .fa{
  margin: 0 5px;
  color: #fff;
}
.space-180{
  display: block;
  height: 180px;
}

.space-50{
  height: 50px;
}

.space-110{
  height: 110px;
}

.footer .social{
  margin-left: 15px !important;
}

.footer .copyright{
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.dropdown-with-icons .logo{
  width: 55px;
  display: inline-block;
}
.dropdown-with-icons .logo img{
  width: 100%;
  border-radius: 30px;
}
.dropdown-with-icons .text{
  line-height: 60px;
  display: inline-block;
  font-size: 16px;
}
.dropdown-menu > li > a{
  opacity: .8;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
  background-color: transparent;
  opacity: 1;
}

.navbar{
  left: 0;
  right: 0;
  z-index: 1000;
  border: none;
  padding-top: 80px;
}

.navbar .navbar-brand{
  color: #ff006e;
  text-transform: capitalize;
  font-weight: 600;
}

.navbar .navbar-brand img{
  display: inline;
  width: 8%;
  margin-top: -3px;
}

.navbar .navbar-nav > li > a{
  color: #fff;
}

.section .container .row{
  position: relative;
  z-index: 1;
}

.section-header .container .col-z-index{
  z-index: 3;
}
.card-plain{
  box-shadow: none;
  background: transparent;
}


/* Rares changes for froala partner page */

.logo-partner{
  width: 100%;
  border: 2px solid rgba(0,0,0,0.1);
  padding: 45px 15px;
  border-radius: 6px;
  margin-top: 12px;
}

.btn.btn-fill{
  background: #6470ec;
}

.btn.btn-fill:hover,
.btn.btn-fill:focus,
.btn.btn-fill:active,
.btn.btn-fill:active:focus{
  border-color: #6772e5;
  color: white;
  background: #6470ec;

}

.btn.btn-rose{
  opacity: 1;
  background: #ff1270;
  border-color: #ff1270;
  color: #fff;
}

.btn.btn-rose:active{
  background: #ff1270;
  color: #fff;
}

.btn.btn-rose:hover:active{
  background: #ff1270;
  color: #fff;
  border-color: #ff006e;
}

.btn.btn-rose.btn-simple{
  background: transparent;
  border:2px solid #ff1270;
  color: #ff1270;
}

.btn.btn-rose.btn-simple:hover:active{
  background: transparent;
  border:2px solid #ff1270;
  color: #ff1270;
}

.btn i{
  font-size: 18px;
  margin-left: 10px;
  top: 2px;
  position: relative;
}

.btn.btn-sm i{
  font-size: 16px;
}

.card .footer{
  background: transparent;
}
.list-group{
  margin-top: 20px;
}
.list-group .list-group-item{
  border-radius: 0;
  font-size: 16px;
  border: none;
  background: transparent;
  font-weight: 400;
  padding: 15px 0;
}

.section-categories .list-group .list-group-item a{
  color: #fff;
}

.section-categories .list-group .list-group-item.disabled:hover{
  background: transparent;
}

.section-categories .list-group .list-group-item.disabled a{
  color: #828687;
  position: relative;
}

.section-categories .list-group .list-group-item.disabled a:after{
  content: "SOON";
  position: absolute;
  height: 13px;
  width: 35px;
  background: #ff1270;
  top: -10px;
  right: -40px;
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}



.list-group:hover .list-group-item{
  border-bottom-color: transparent !important;
}

.list-group .list-group-item a{
  color: black;
  padding: 15px 5px;
}

.list-group .list-group-item:hover{
  background: rgba(158,158,158,0.1);
  border-radius: 6px;
}

.list-group .list-group-item:first-child{
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.card-link{
  color: black;
}
.btn{
  margin-bottom: 10px;
}

.btn.btn-full-width{
  width: 100%;
}

.card .content{
  padding: 10px;
}
.bg-dark-gray{
  background-color: #9e9e9e;
  height: 995px;
}

.index-page{

  .navbar{
    padding-top: 0;
    background-color: #090c0f;
    border-radius: 0;
  }
  img{
    position: relative;
  }

  .section-header{
    img{
      margin-top: 40px;
    }
    .title{
      margin-top: 20px;
    }

    .btn{
      &:hover,
      &:active,
      &:focus{
        color: #ea3e73;
      }
    }

  }
  .btn-rose{
    margin-top: 20px;
  }

  .buttons{
    .btn{
      margin: 0 10px;
    }
  }

  .buttons{
    margin-top: 40px;
  }

  .gitter-chat-embed{
    z-index: 9999;
  }

  .gitter-open-chat-button{
    background: #FF147C;
  }

  .section-community{
    .info{
      a{
        color: #333333;
      }
      .icon{
        background: #ff127c;
        i{
          margin-top: 9px;
        }
      }
    }

    h2.title{
      margin-top: 100px;
      margin-bottom: 80px;
    }
  }

}

.footer{
  .buttons{
    margin-top: 0;
    .btn{
      margin: 0 10px;
      &:hover,
      &:active,
      &:focus{
        color: #d94a72;
      }
    }
  }

  .container{
    border-top: 1px solid rgba(123,123,124,0.6);
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

//added for the modified index page

.section-informations{
  .info{
    overflow: hidden;
    background: #fafafa;
    text-align: left;
    padding: 30px 20px;
    border-radius: 3px;
    h4{
      margin-bottom: 20px;
      i{
        color: #eb3971;
        margin-right: 15px;
      }
    }

  p{
    margin-bottom: 15px;
    font-size: 16px;
  }
  code{
    &.lang-js{
      background: transparent;
      color: #333333;
      .function{
        color: #cd556a;
        margin-right: -10px;
      }

      .punctuation{
        color: #999999;
      }

      .keyword{
        color: #3077a6;
        margin-left: 22px;
      }

      .operator{
        color: #a0805f;
      }

    }
  }
  img{
    width: 100%;
    max-height: 280px;
  }
  a{
    color: #333333;
    &.btn{
      color: #fff;
      padding: 0 15px;
      line-height: 40px;
      height: 40px;
    }
  }
  }
}


.code-fund{
  max-width: 175px;
  margin: 0;
  top: 20%;
  display: flex;
  flex-direction: column;
  float: right;
  position: fixed;
  right: 10px;
  z-index: 6;
  font-size: 12px;
  line-height: 1.5em;
  background-color: #fff;
  border-radius: 4px;
  .cf-wrapper{
    padding: 10px !important;
    width: 150px;
    background-color: #fff !important;
  }
  img{
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 8px;
    &[data-src="impression_url"]{
      position: fixed;
      left: -1000px;
      top: -1000px;
    }
  }
  .cf-img-wrapper{
    margin-right: 0 !important;
  }
}
