<div class="card card-product">
    <div class="image">
        <a href="https://github.com/galio-org/galio/tree/examples">
            <img src="assets/img/galio.jpg" alt="...">
        </a>
    </div>
    <div class="content">
        <a href="#">
            <h4 class="title">Galio Examples React Native
              <!-- <div class="pull-right"> FREE </div> -->
            </h4>

        </a>
        <p class="description">
          Galio's application for showcasing our components and different contexts in which it can be used.
        </p>
        <div class="footer">
          <a href="https://github.com/galio-org/galio-starter-kit" target="_blank" class="btn btn-fill"><i class="fa fa-github"></i>&nbsp;GITHUB</a>

        </div>
    </div>
</div>
