<div class="card card-product">
    <div class="image">
        <a href="https://github.com/SintionVlad/social-App">
            <img src="assets/img/profile.jpg" alt="...">
        </a>
    </div>
    <div class="content">
        <a href="https://github.com/SintionVlad/social-App">
            <h4 class="title">Social App React Native
                <!-- <div class="pull-right"> FREE </div> -->
            </h4>
        </a>
        <p class="description">
          Basic template app for a social platform.
        </p>
        <div class="footer">
          <a href="https://github.com/SintionVlad/social-App" target="_blank" class="btn btn-fill"><i class="fa fa-github"></i>&nbsp;GITHUB</a>

        </div>
    </div>
</div>
