
<footer class="footer footer-black">
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="buttons">
            <a href="https://github.com/galio-org/galio" target="_blank" class="btn btn-simple">
              Github
            </a>
            <a href="https://github.com/galio-org/galio/issues" target="_blank" class="btn btn-simple">
              Issues
            </a>
            <a href="https://galio.io/docs/#/install" target="_blank" class="btn btn-simple">
              Documentation
            </a>
            <a class="btn btn-simple">
              Version 0.5
            </a>

          </div>
        </div>

      </div>
    </div>
  </footer>
