
<footer class="footer footer-black">
  <div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <a href="https://www.instagram.com/galio.framework/" target="_blank" class="btn btn-icon btn-default btn-sm bg-transparent px-2 py-0 mx-2 rounded-circle">
            <i class="fa fa-instagram ml-0"></i>
          </a>
          <a href="https://www.facebook.com/GalioFramework/" target="_blank" class="btn btn-icon btn-default btn-sm bg-transparent px-2 py-0 mx-2 rounded-circle">
            <i class="fa fa-facebook ml-0"></i>
          </a>
          <a href="https://twitter.com/galioframework" target="_blank" class="btn btn-icon btn-default btn-sm bg-transparent px-2 py-0 mx-2 rounded-circle">
            <i class="fa fa-twitter ml-0"></i>
          </a>
          <a href="https://github.com/galio-org/galio" target="_blank" class="btn btn-icon btn-default btn-sm bg-transparent px-2 py-0 mx-2 rounded-circle">
            <i class="fa fa-github ml-0"></i>
          </a>
          <div class="buttons">
            <a href="https://github.com/galio-org/galio" target="_blank" class="btn btn-simple">
              Github
            </a>
            <a href="https://github.com/galio-org/galio/issues" target="_blank" class="btn btn-simple">
              Issues
            </a>
            <a href="https://galio.io/docs/#/install" target="_blank" class="btn btn-simple">
              Documentation
            </a>
            <a href="https://github.com/galio-org/galio/releases" target="_blank" class="btn btn-simple">
              Releases
            </a>
            <a href="mailto:hello@galio.io" class="btn btn-simple">
              Contact
            </a>

          </div>
        </div>

      </div>
    </div>
  </footer>
