<nav class="navbar navbar-expand-md fixed-top pb-0">
  <div class="container">
    <a class="navbar-brand m-0 py-0" href="/">
      <img src="assets/img/galio-transparent.png">
      Galio
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-target="navbar">
     <span class="sr-only">Toggle navigation</span> <span class="icon-bar bar1"></span> <span class="icon-bar bar2"></span> <span class="icon-bar bar3"></span>
   </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="https://galio.io/docs/#/?id=galio" target="_blank">
                Get Started
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/galio-org/galio-starter-kit" target="_blank">
                Starter Kit
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://galio.io/docs/#/components/block" target="_blank">
              Components
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/built-with-galio">
              Examples
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/premium-themes">
            Premium Themes
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ site.discord_link }}" target="_blank">
            <img src="assets/img/discord-logo.png" style="width: 23px;">
            <span class="d-sm-none">Discord</span>
          </a>
        </li>



        <li class="nav-item">
            <a class="nav-link" href="https://github.com/galio-org/galio" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github repo">
                 <i class="fa fa-github"></i>
                 <span class="d-sm-none">Github</span>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
