<!-- <nav class="navbar" role="navigation-demo">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Galio </a>
    </div>
  </div>
</div>
</nav> -->

<nav class="navbar" role="navigation-demo">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="javascript:void;">
        Galio
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void;">
                    Get Started
                </a>
            </li>
            <li>
                <a href="javascript:void;">
                     Home
                </a>
            </li>

       </ul>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>
