<div class="card card-product">
  <div class="image">
      <a href="https://www.creative-tim.com/product/material-kit-pro-react-native?ref=galioapppage">
          <img src="assets/img/material-kit.jpg" alt="...">
      </a>
  </div>
  <div class="content">
      <a href="https://www.creative-tim.com/product/material-kit-pro-react-native?ref=galioapppage">
          <h4 class="title">Material Kit PRO React Native
              <div class="pull-right"> 149$ </div> 
          </h4>
      </a>
      <p class="description">
        Material Kit React Native is a fully coded app template built over
        <a href="https://galio.io/" target="_blank">Galio.io</a>,
        <a href="https://facebook.github.io/react-native/" target="_blank">React Native
        </a> and <a href="https://expo.io/" target="_blank">Expo</a>
        to allow you to create powerful and beautiful mobile applications.
      </p>
      <div class="footer">
        <a href="https://www.creative-tim.com/product/material-kit-pro-react-native?ref=galioapppage" target="_blank" class="btn btn-fill"><i class="fa fa-mobile"></i>VIEW APP</a>
      </div>
  </div>
</div>
