---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.brand == 'index-page' %}

  <title>{{ site.name }} - {{ site.description }}</title>

  {% elsif page.brand == 'presentation-page' %}

  <title>Presentation - Galio React Native Framework @ Galio </title>

  {% endif %}



	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="dns-prefetch" href="//www.google-analytics.com">

  <!-- Canonical SEO -->
  {% if page.brand == 'index-page' %}

	<link rel="canonical" href="https://galio.io">

  {% elsif page.brand == 'presentation-page' %}

  <link rel="canonical" href="https://galio.io/presentation">

  {% endif %}

	<!--  Social tags      -->
  <meta name="keywords" content="{{ site.keywords }}">

	<meta name="description" content="Galio is a beautifully designed, Free and Open Source React Native Framework">

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Galio - React Native Framework">
	<meta itemprop="description" content="Galio is a beautifully designed, Free and Open Source React Native Framework">

	<meta itemprop="image" content="https://raw.githack.com/galio-org/galio/master/assets/galio_thumbnail.jpg">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@galioframework">
	<meta name="twitter:title" content="Galio - React Native Framework">

	<meta name="twitter:description" content="Galio is a beautifully designed, Free and Open Source React Native Framework.">
	<meta name="twitter:creator" content="@galioframework">
	<meta name="twitter:image" content="https://raw.githack.com/galio-org/galio/master/assets/galio_thumbnail.jpg">

	<!-- Open Graph data -->
	<meta property="fb:app_id" content="">
	<meta property="og:title" content="Galio - React Native Framework">
	<meta property="og:type" content="article">
	<meta property="og:url" content="https://galio.io">
	<meta property="og:image" content="https://raw.githack.com/galio-org/galio/master/assets/galio_thumbnail.jpg">
	<meta property="og:description" content="Galio is a beautifully designed, Free and Open Source React Native Framework.">
	<meta property="og:site_name" content="Galio - React Native Framework">

	<link rel="icon" type="image/x-icon" href="/favicon.png">

	<link rel="stylesheet" href="css/main.css">

  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJ9SQDH');</script>
  <!-- End Google Tag Manager -->

  <!-- Hotjar Tracking Code -->
  <script>
    (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:1053990,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <!-- End Hotjar Tracking Code -->

</head>
<body class="{% if page.brand == "index-page" %} index-page {% endif %}">
  <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJ9SQDH"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


  {% include header.html %}

  <div class="wrapper">
    {{ content }}
  </div>

  {% include footer.html %}

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script src="js/jquery.js"></script>
	<script src="js/jquery-ui.custom.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/gsdk.js"></script>
	<script src="js/jquery.sharrre.min.js"></script>

  <script src="js/galio.js"></script>
  {% if page.brand == 'index-page' %}

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));</script>
      <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'galio-community/Lobby'
      };
      </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    {% endif %}
</body>
</html>
