---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ site.name }} - {{ page.meta_title }}</title>

	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="dns-prefetch" href="//www.google-analytics.com">

  <!-- Canonical SEO -->
	<link rel="canonical" href="{{ page.canonical }}">

	<!--  Social tags      -->
  <meta name="keywords" content="{{ page.keywords }}">

	<meta name="description" content="{{ page.description }}">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@galioframework">
	<meta name="twitter:title" content="Galio Framework - React Native Framework">

	<meta name="twitter:description" content="{{ page.description }}">
	<meta name="twitter:creator" content="@galioframework">
	<meta name="twitter:image" content="https://raw.githack.com/galio-org/galio/master/assets/galio_thumbnail.jpg">

	<!-- Open Graph data -->
	<meta property="fb:app_id" content="">
	<meta property="og:title" content="Galio Framework - React Native Framework">
	<meta property="og:type" content="article">
	<meta property="og:url" content="https://galio.io">
	<meta property="og:image" content="https://raw.githack.com/galio-org/galio/master/assets/galio_thumbnail.jpg">
	<meta property="og:description" content="{{ page.description }}">
	<meta property="og:site_name" content="Galio Framework - React Native Framework">

	<link rel="icon" type="image/x-icon" href="/favicon.png">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/main.css">

  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJ9SQDH');</script>
  <!-- End Google Tag Manager -->

  <!-- Hotjar Tracking Code -->
  <script>
    (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:1053990,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <!-- End Hotjar Tracking Code -->

  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e1437303897bec84c0ce8e20c/7a39f2a9c1d8309930f815f21.js");</script>




</head>
<body class="index-page">
  <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJ9SQDH"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


  {% include header.html %}

  <div class="wrapper">
    {{ content }}
  </div>

  {% include footer.html %}

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script src="assets/js/jquery.js"></script>
	<script src="assets/js/jquery-ui.custom.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/gsdk.js"></script>
	<script src="assets/js/jquery.sharrre.min.js"></script>

  <script src="assets/js/galio.js"></script>

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));</script>
      <script>
      ((window.gitter = {}).chat = {}).options = {
        room: 'galio-community/Lobby'
      };
      </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</body>
</html>
